html {
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}


.faucet {
    margin: 10vw;
}

.action {
    transition: all 10s ease;
    background-color: #cfb;
}

.faucetz-card .visit:visited {
    background-color: #cfb;
}

.faucetz-card.clean .card .item-avatar strong {
    color: green;
}

/* 
.faucet strong {
    width: 30vw;
    display: inline-block;
    font-size: 2vw;
}

.faucet span {
    width: 30vw;
    display: inline-block;
}

.faucet a {
    width: 40vw;
    display: inline-block;
    padding: 5vw;
    background-color: orange;
    border: 1px solid #666;
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    border-radius: 5px;
    font-weight: bold;
} */